<div class="container" *ngIf="accountService.isFinance$ | async">
  <div class="wel">
    <h2>Welcome Finance Manager</h2>
  </div>

  <div class="table-wrapper">
    <div class="table-title">
      <h3>Vehicle Billing Details</h3>
    </div>
    <table
      class="table table-striped table-hover"
      *ngIf="billings && billings.length > 0"
    >
      <thead>
        <tr>
          <th>Vehicle ID</th>
          <th>Mileage(km)</th>
          <th>Fuel Consumption(Litres)</th>
          <th>Last Service Date</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billing of billings">
          <td>{{ billing.id }}</td>
          <td>{{ billing.mileage }}</td>
          <td>{{ billing.fuel }}</td>
          <td>{{ billing.date }}</td>
          <td>{{ billing.fuel * 304 }}</td>
          <td><a [routerLink]="['/edit', billing.id]">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!billings || billings.length <= 0">No Managers Found</p>
  </div>
  <!-- Form for updating billing details -->
</div>
