<button type="button" class="btn btn-success" (click)="openModal(template)">
  Edit
</button>

<ng-template #template>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="updateManager()">
      <div class="modal-header">
        <h4 class="modal-title">Edit Manager</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ID</label>
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="managerDetails.id"
            name="id"
            readonly
          />
        </div>
        <div class="form-group">
          <label>Full Name</label>
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="managerDetails.fullName"
            name="FullName"
          />
        </div>
        <div class="form-group">
          <label>Date of Joining</label>
          <input
            type="datetime-local"
            class="form-control"
            required
            [(ngModel)]="managerDetails.date"
            name="Date"
          />
        </div>
        <div class="form-group">
          <label>Age</label>
          <input
            type="number"
            class="form-control"
            required
            [(ngModel)]="managerDetails.age"
            name="Age"
          />
        </div>
        <div class="form-group">
          <label for="inputState">Gender</label>
          <select
            id="inputState"
            class="form-control"
            [(ngModel)]="managerDetails.gender"
            name="Gender"
          >
            <option selected>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          value="Cancel"
          (click)="modalRef?.hide()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          value="Save"
          (click)="modalRef?.hide()"
        >
          Save
        </button>
        <button
          type="submit"
          class="btn btn-danger"
          (click)="deleteManager(managerDetails.id)"
          (click)="modalRef?.hide()"
        >
          Delete
        </button>
      </div>
    </form>
  </div>
</ng-template>
