<div class="container" *ngIf="accountService.isAdmin$ | async">
  <div class="wel">
    <h2>Welcome Administrator</h2>
  </div>
  <div class="table-wrapper">
    <div class="table-title">
      <h3>Current Managers</h3>
    </div>
    <table
      class="table table-striped table-hover"
      *ngIf="managers && managers.length > 0"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date of Joining</th>
          <th>Age</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers">
          <td>{{ manager.id }}</td>
          <td>{{ manager.fullName }}</td>
          <td>{{ manager.date }}</td>
          <td>{{ manager.age }}</td>
          <td>{{ manager.gender }}</td>
          <td>
            <app-edit-managers
              [managerDetails]="manager"
              (managerUpdated)="onManagerUpdated()"
              [routerLink]="['/edit-managers', manager.id]"
            ></app-edit-managers>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!managers || managers.length <= 0">No Managers Found</p>
  </div>
  <app-add-managers (managerAdded)="onManagerAdded()"></app-add-managers>
</div>
